body{
    font: 12pt arial;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background: black;
}

button{
    font-size: medium;
    padding: 30px;
}